.logo
{
    color: rgb(0, 34, 154);
}

.logoContainer
{
    margin-right: 100px;
}

.categoryContainer
{
    margin-right: 100px;
}

.searchContainer
{
    margin-right: 100px;
}

.iconsContainer
{
    margin-right: 50px;
}